/* style.css */
body {
    background-color: #000;
    color: #00FF00;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#terminal {
    width: 80%;
    max-width: 800px;
    height: 80vh;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.3);
    display: flex;
    flex-direction: column;
}

#output {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column; /* Les éléments restent dans l’ordre, les nouveaux en haut */
}

#input-container {
    display: flex;
    align-items: center;
}

.prompt {
    margin-right: 5px;
}

#input {
    background: none;
    border: none;
    color: #00FF00;
    outline: none;
    width: 100%;
}
